body {
    margin: 0;
    padding: 0;
    background: #004256;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.atm-screen {
    width: 500px;
    padding: 25px;
    background: #e0faff;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

h2 {
    margin-bottom: 5px;
    color: #004d5e;
}

h3 {
    margin-bottom: 20px;
    color: #007788;
}
.balance-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.balance-label {
    font-size: 18px;
    font-weight: bold;
}

.balance-amount,
.balance-hidden {
    font-size: 20px;
    font-weight: bold;
}

.eye-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
}

.eye-btn:active {
    transform: scale(0.9);
}


.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.btn {
    display: block;
    padding: 12px;
    background: #ff8800;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 0 #c96a00;
    transition: 0.2s;
}
button.btn {
    margin-top: 10px;
    background-color: #007a87;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #005f69;
}

.btn:hover {
    background: #e67300;
    transform: scale(1.03);
}

.logout {
    background: #d9534f !important;
    box-shadow: 0 4px 0 #a73734;
}
