body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #003f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.atm-screen {
    background: #e0f8ff;
    width: 400px;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h2 {
    margin-bottom: 20px;
    color: #004f5f;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #003f4f;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #007b8f;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #ff8800;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #e67300;
}
