body {
    margin: 0;
    padding: 0;
    background: #002b36;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.atm-screen {
    width: 600px;
    padding: 25px;
    background: #e8f7ff;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}
.total-balance {
    margin-top: 15px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #004d5a;
}

h2 {
    margin-bottom: 20px;
    color: #004b63;
    font-size: 26px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th {
    background: #004b63;
    color: white;
    padding: 10px;
    font-size: 18px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #b2d6e0;
    font-size: 16px;
    color: #003b4f;
}

.btn {
    display: block;
    width: 92%;
    margin: 12px auto;
    padding: 12px;
    background: #005f73;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 0 #004a59;
    transition: 0.2s;
}

.btn:hover {
    background: #004f60;
    transform: scale(1.03);
}
